a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 13px;
    font-family: 'Quicksand', sans-serif;
  }
  
  #previous1, #previous2 {
    background-color: #adb5bd;
    color: black;
  }
  
  #next1, #next2 {
    background-color: #006c94;
    color: white;
  }
  
  #previous1, #next1{
    border-radius: 30px;
    width: 100px;
    text-align: center;
  }
  
  #previous2, #next2 {
    border-radius: 50%;
    margin: 20px;
  }
  .col-4 {background: honeydew;}
  .col-4 {
    border: thick double #32a1ce;
    text-align: left;

}
a#next1 {
    position: absolute;
    right: 30px;
}
