<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
    <!------Meta-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nomdusite - mini description</title>
    <meta name="description" content="Crée votre cv en ligne ... A remplir">
    <meta property="og:locale" content="fr_FR" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="CV en ligne" />
	<meta property="og:description" content="" />
	<meta property="og:url" content="http://www.nomsite.fr/" />
	<meta property="og:site_name" content="http://nomsite.fr" />
	<meta property="og:image" content="image pour notre site" />
    <!------Online link-->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


  <script src="https://kit.fontawesome.com/1164413ddc.js" crossorigin="anonymous"></script>
  <!------Created link-->
  <link href="css/header&footer.css" rel="stylesheet">
  <link rel="stylesheet" href="css/espace_recruteur.css">
  <style type="text/css">

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        background-color: #ECEFF1;
        color: #37474F;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 16px;
    }

    h1, h2, h3 {
        font-weight: 200;
    }

</style>

<script>
</script>
</head>

 <nav class="navbar navbar-expand-lg navbar-light bg-light"> A det </nav>

 
 
 
 
 
 

 <h1>Espace Recruteur</h1>
 <div><p>filtrer les candidats qui recherchent actuellement un emplois et consulter leurs CV</p></div>


<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
    <div class="dropdown">
        <input type="text" class="form-control" placeholder="Rechercher quelqu'un" style="width:1060px;font-size:10pt;" />
    </div>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            Filtrer
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                  <div class="form-group">
                    <label for="contain">Filtrer par lieu</label>
                    <input class="form-control" type="text" placeholder="Paris,Lille..." />
                  </div>
                </div>

                <div class="form-group">
                  <label for="contain">Contient le mot</label>
                  <input class="form-control" type="text" placeholder="Marketing digital" />
                </div>
          </div>
      </div>
    </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <section class="container">
        <div class="row active-with-click">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Red">
                    <h2>
                        <span>{$Name$}</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            Emploi
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="img/cv.png">
                        </div>
                        <div class="mc-description">
                            Mini desc                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Pink">
                    <h2>
                        <span>{$Name$}</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            Emploi
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="img/cv.png">
                        </div>
                        <div class="mc-description">
                            Mini desc                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Purple">
                    <h2>
                        <span>{$Name$}</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            Emploi
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="img/cv.png">
                        </div>
                        <div class="mc-description">
                            Mini desc                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Deep-Purple">
                    <h2>
                        <span>{$Name$}</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            Emploi
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="img/cv.png">
                        </div>
                        <div class="mc-description">
                            Mini desc                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Grey">
                    <h2>
                        <span>{$Name$}</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            Emploi
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="img/cv.png">
                        </div>
                        <div class="mc-description">
                           Mini desc
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Indigo">
                    <h2>
                        <span>{$Name$}</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            Emploi
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="img/cv.png">
                        </div>
                        <div class="mc-description">
                            Mini desc                        
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
        </div>
        
        </section>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    $(function() {
        $('.material-card > .mc-btn-action').click(function () {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            icon.addClass('fa-spin-fast');

            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');

                }, 800);
            } else {
                card.addClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');

                }, 800);
            }
        });
    });
</script>
</body>
</html>