<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nomdusite - mini description</title>
    <meta name="description" content="Crée votre cv en ligne ... A remplir">
    <meta property="og:locale" content="fr_FR" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="CV en ligne" />
	<meta property="og:description" content="" />
	<meta property="og:url" content="http://www.nomsite.fr/" />
	<meta property="og:site_name" content="http://nomsite.fr" />
	<meta property="og:image" content="image pour notre site" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/mon_espace.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light"> A det </nav>

<hr>

<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{% name %}</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="img/logo.png"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3">
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Télecharger votre photo</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>

               
          <div class="panel panel-default">
            <div class="panel-heading">Mon CV en ligne <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="http://nom du site.com">nom+cv.com</a></div>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activité<i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Personne ayant vus vos CV</strong></span> 10</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Personne télecharger vos CV</strong></span> 2</li>
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Réseaux</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div>
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Accueil</a></li>
                <li><a data-toggle="tab" href="#Change">Changer vos coordonées</a></li>

              </ul>

              
          <div class="tab-content">
		<div class="tab-pane active" id="Accueil">
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          <div class="container">
  <div class="row">
    <div class="col">CV1</div>
    <div class="col">CV2</div>
    <div class="w-100"></div>
    <div class="col">CV3</div>
    <div class="col">CV4</div>
  </div>
</div>
                          <div class="col-xs-6">
                              <label for="first_name"><h4>Nom : {$nom$}</h4></label>
                              
                          </div>
                      </div>
                      <div class="form-group">
 
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email : {$Email$}</h4></label>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Lieux : {$Lieux$}</h4></label>
                          </div>
                      </div>
                      <div class="form-group">
                          

                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Typle d'emplois recherché : Emp1,Emp2,Emp3</h4></label>
                          </div>
                      </div>

              	</form>
              
              <hr>
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="Change">
               
               <h2></h2>
               
               <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>Nom</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Nom" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="azerty@hotmail.com" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Adresse</h4></label>
                              <input type="email" class="form-control" id="location" placeholder="Adresse" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Mot de passe</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Confirmer</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="Nouveau Mot de passe" title="enter your password2.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Enregistrer</button>
                            </div>
                      </div>
              	</form>
               
 
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                          </div>
                      </div>
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="img/cv.png" class="card-img" alt="..." width="60%" height="60%">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Votre CV en ligne</h5>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
	Mettre votre CV en public
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> On
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Off
  </label>
</div>        <p class="card-text"><small class="text-muted">Mis à jour le date</small></p>
      </div>
    </div>
  </div>
</div>
</div>
                            </div>
                      </div>
              	</form>
              </div>
               
              </div>
          </div>
